<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sixtus.com.homenavigation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeNav"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UpdateDetails"
            android:parentActivityName=".HomeNav">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeNav" />

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity
            android:name=".UserPassword"
            android:parentActivityName=".UpdateDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UpdateDetails" />
        </activity>
        <activity android:name=".UserEmail"
            android:parentActivityName=".UpdateDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UpdateDetails" />
        </activity>
        <activity android:name=".UserOccupation"
            android:parentActivityName=".UpdateDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UpdateDetails" />
        </activity>
        <activity android:name=".UserMobileContact"
            android:parentActivityName=".UpdateDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UpdateDetails" />
        </activity>
        <activity android:name=".PaymentDetails"
            android:parentActivityName=".UpdateDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UpdateDetails" />
        </activity>
    </application>

</manifest>